@import '../../styles/index.scss';


.main {
  position: relative;
  min-height: calc(var(--vh) * 100 - 140px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $dark;
  .text {
    color: $orange;
    font: {
      family: $title-font;
      weight: 900;
      size: clamp(1rem, calc(6px + 3vw), 3.5rem);
    }
    text-align: center;
    p {
      margin: 0;
      &:first-of-type {
        font: {
          size: 1em;
          variant: small-caps;
        }
        letter-spacing: .13em;
        
        margin: {
          bottom: 20px;
        }
      }
      &:last-of-type {
        font: {
          size: .79em;
          variant: small-caps;
        }
        letter-spacing: .31em;
      }
    }
    
  }
  button {
    background-color: $orange;
    color: $dark;
    font-size: 20px;
    border-radius: 0 20px 20px 0;
    padding: 6px 25px;
    border: none;
  }
}