.main {
  position: relative;
  min-height: calc(var(--vh) * 100 - 140px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--dark);
  .text {
    color: var(--orange);
    font-family: var(--title-font);
    font-size: 24px;
  }
  button {
    background-color: var(--orange);
    color: var(--dark);
    font-size: 20px;
    border-radius: 0 20px 20px 0;
    padding: 3px 25px;
  }
}